{% extends 'base.html.twig' %}

{% block title %}Editer Clients{% endblock %}

{% block body %}
    <h1>Editer Client {{customer.firstName}} {{customer.lastName}}</h1>

    {{ include('customer/_form.html.twig', {'button_label': 'Editer'}) }}

    <a class="btn btn-primary" role="button" href="{{ path('customer_index') }}">Retour à la liste</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
