{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Table clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>E-Mail</th>
                <th>Téléphone</th>
                <th>Addresse</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.mail }}</td>
                <td>{{ customer.tel }}</td>
                <td>{{ customer.addresses }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.country }}</td>
                <td>
                    <a  class="btn btn-info" role="button" href="{{ path('customer_show', {'id': customer.id}) }}">Voir</a>
                    <a class="btn btn-warning" role="button" href="{{ path('customer_edit', {'id': customer.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" role="button" href="{{ path('customer_new') }}" >Créer nouvel utilisateur
    </a>
{% endblock %}
