{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <h1>Créer Nouveau client</h1>

    {{ include('customer/_form.html.twig') }}

    <a class="btn btn-primary" role="button" href="{{ path('customer_index') }}">Retour à la liste</a>
{% endblock %}
