{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <h1>Client {{customer.firstName}} {{customer.lastName}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
                <th>E-Mail</th>
                <td>{{ customer.mail }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ customer.tel }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ customer.addresses }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ customer.city }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ customer.country }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('customer_index') }}">Retour à la liste</a>

    <a class="btn btn-warning" role="button" href="{{ path('customer_edit', {'id': customer.id}) }}">Editer</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
