<div class="card">
    <img src="{{ product.image }}" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ product.name}}</h5>
        <div class="card-title text-primary" style="font-weight: bold; font-size: 1.5rem;">
            {{product.priceProduct | number_format(0, ',', ' ' )}} €
            {% if product.promo %}
                <div class="div text text-warning">Promo !</div>
            {% endif %}
        </div>
        <p class="text text-muted"> {{ product.descriptionProduct }}</p>
        <div>
            {% for c in product.categories %}
                <em class="text-muted text-primary text-italic">#{{ c.name }}</em>
            {% endfor %}
        </div>
    </div>
</div>