{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'product/_filter.html.twig' with {form: form, min: min, max: max} only %}
            </div>
            <div class="col-md-9">
                <div class="grid">
                    {% for product in products %}
                        {% include 'product/_card.html.twig' with {product: product} only %}
                    {% endfor %}
                </div>
                <div style="margin-top: 4rem;">
                    {{ knp_pagination_render(products)}}
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du produit</th>
                <th>Description</th>
                <th>Prix €</th>
                <th>Fournisseur</th>
                <th>Site Web du Fournisseur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.descriptionProduct }}</td>
                <td>{{ product.priceProduct }}</td>
                <td>{{ product.supplier }}</td>
                <td>{{ product.webSiteSupplier }}</td>
                <td>
                    <a class="btn btn-info" role="button" href="{{ path('product_show', {'id': product.id}) }}">Voir</a>
                    <a  class="btn btn-warning" role="button"href="{{ path('product_edit', {'id': product.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('product_new') }}">Créer nouveau produit</a>
{% endblock %}
