{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.descriptionProduct }}</td>
            </tr>
            <tr>
                <th>Prix €</th>
                <td>{{ product.priceProduct }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ product.supplier }}</td>
            </tr>
            <tr>
                <th>Site web du fournisseur</th>
                <td>{{ product.webSiteSupplier }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('product_index') }}">Retour à la liste</a>

    <a class="btn btn-warning" role="button" href="{{ path('product_edit', {'id': product.id}) }}">Editer</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
