{# templates/Advert/byebye-world.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <title>au revoir ma première page</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1> Coucou {{ bite }}</h1>
  <p>
    bisou duku
  </p>
</body>
</html>