{# templates/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue sur ma première page</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">AMERICA {{ fuck }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Accueil <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Curriculum Vitae</a>
          <a class="nav-item nav-link" href="#">Projets</a>
          <a class="nav-item nav-link disabled" href="#">Mes formations</a>
          <a  class="nav-item nav-link" href="#">Contact</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="header_animated">
      <h1>AMERICA {{ fuck }}</h1>
      <h2>Bonjour, je m'appelle Gérard</h2>
      <button type="button" class="btn btn-primary btn-lg">Contactez moi</button>
  </header>
  <content>
    <section id="contact" class="block animatable bounceInLeft">
      <div class=container-text>
        <p class="wrapline">Bonjour, je m'appelle Gérard</p>

      </div>
    </section>
  </content>
  <footer>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
  
{% endblock %}
</html>