{% extends 'base.html.twig' %}

{% block title %}Edit SaleProduct{% endblock %}

{% block body %}
    <h1>Editer Ventes</h1>

    {{ include('sale_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" role="button" href="{{ path('sale_product_index') }}">Retour à la liste</a>

    {{ include('sale_product/_delete_form.html.twig') }}
{% endblock %}
