{% extends 'base.html.twig' %}

{% block title %}SaleProduct index{% endblock %}

{% block body %}
    <h1>SaleProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id du produit</th>
                <th>Id de la vente</th>
                <th>Quantité</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale_product in sale_products %}
            <tr>
                <td>{{ sale_product.id }}</td>
                <td>{{ sale_product.productId }}</td>
                <td>{{ sale_product.saleId }}</td>
                <td>{{ sale_product.quantityProduct }}</td>
                <td>{{ sale_product.color }}</td>
                <td>
                    <a class="btn btn-info" role="button" href="{{ path('sale_product_show', {'id': sale_product.id}) }}">Voir</a>
                    <a class="btn btn-warning" role="button" href="{{ path('sale_product_edit', {'id': sale_product.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('sale_product_new') }}">Créer nouvel vente</a>
{% endblock %}
