{% extends 'base.html.twig' %}

{% block title %}New SaleProduct{% endblock %}

{% block body %}
    <h1>Create new SaleProduct</h1>

    {{ include('sale_product/_form.html.twig') }}

    <a href="{{ path('sale_product_index') }}">back to list</a>
{% endblock %}
