{% extends 'base.html.twig' %}

{% block title %}SaleProduct{% endblock %}

{% block body %}
    <h1>SaleProduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sale_product.id }}</td>
            </tr>
            <tr>
                <th>Id du produit</th>
                <td>{{ sale_product.productId }}</td>
            </tr>
            <tr>
                <th>Id de la vente</th>
                <td>{{ sale_product.saleId }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ sale_product.quantityProduct }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ sale_product.color }}</td>
            </tr>
        </tbody>
    </table>

    <a  class="btn btn-primary" role="button" href="{{ path('sale_product_index') }}">Retour à la liste</a>

    <a class="btn btn-warning" role="button" href="{{ path('sale_product_edit', {'id': sale_product.id}) }}">Editer</a>

    {{ include('sale_product/_delete_form.html.twig') }}
{% endblock %}
