<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            <!-- Renders a link tag (if your module requires any CSS)
                <link rel="stylesheet" href="/build/app.css"> -->
    </head>
    <body>
        {% block header %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ path('Accueil') }}">Accueil <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{{ path('customer_index') }}">Clients</a>
                    <a class="nav-item nav-link" href="{{ path('product_index') }}">Produits</a>
                    <a class="nav-item nav-link" href="{{ path('sale_product_index') }}">Ventes</a>
                </div>
            </div>
        </div>
    </nav>
        <div class="header_animated">
            <h1>AMERICA !!!! Fuck Yeah !!!</h1>
        </div>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>